<h1>Welcome</h1>

<h3>Users</h3>
  <ul>
	  <li>A user should sign up using his monaqasat email account</li>
	  <li>A user can create only 1 entry per day</li>
    <li>At least one admin should exist</li>
    <li>A Scrum master role is assigned for a period of time for a random user</li>
    <li>A user should set the start week pattern from the profile page</li>
    <li>A user should set their time zone from the profile page</li>
    <li>Only a user who is signed in as an administrator can access  All users info (Entries and account description)</li>
    <li>The administrator can add an absence for a user</li>
  </ul>
<h3>Entries</h3>
  <ul>
	  <li>A user can only edit/delete his entry</li>
    <li>A user can see other users' entries</li>
    <li>A user can link through the number of ticket in the entry to redmine</li>
    <li>A user can categorize the ticket currently handled</li>
    <li>A user can check the list of absence employees</li>
	</ul>
<h3>Search</h3>
  <ul>
    <li>All entries are searchable by include a word or a phrase from the entry's description,category, and ticket number</li>
    <li>All users are searchable by name and email account</li>
  </ul>
<h3>Emails</h3>
  <ul>
    <li>Daily email reminders are sent to users who did not submit an entry before a predefined time set by the admin</li>
    <li>Emails are disabled automatically in case the user is  flagged as absent</li>
	</ul>