<% if entries.present? %>
	<table class="table table-striped">
		<tr>
			<th colspan="6"><h2>User entries</h2></th>
		</tr>
		<tr>
			<th>Date</th>
			<th>Category</th>
			<th>User</th>
			<th>Ticket</th>
		</tr>
		<% entries.each do |result| %>
			<tr>
				<td><%= link_to (result.created_at.to_date), entry_path(result) %></td>
		    <td><%= linkify_categories(result).html_safe %></td> 
		    <td><%= result.user.email %></td>
		    <td><%= linkify_ticket_ids(result).html_safe %></td>
			</tr>
		<% end %>
	</table>
<% end %>