<% content_for :title, "Absences" %>

<div class="page-header">
	<div class="row-fluid">
		<div class="span10"><h1>Absences</h1></div>
  	<div class="span2" id="entry_align">
			<%= link_to("Today's absences", today_absences_path, :class => "btn") %>
		</div>
	</div>
</div>

<%= render :partial => "absences/all_absences" %>