<div class="page-header">
	<h1><%= @title.titleize %></h1>
</div>

<dl class="dl-horizontal">
	<p>
		<dt><b>Description</b></dt>
		<dd><%= @absence.description.html_safe %></dd>
	</p>
</dl>

<%= back_button %>

<br/>
<br/> 