<% content_for :title, "Today's absences" %>

<div class="page-header">
	<h1><%= @title.titleize %></h1>
</div>

<%= render "all_absences" %>

<%= link_to '&larr; Back'.html_safe, absences_path, :class => "btn" %>

<br /><br />
 