#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#user_menu{
	padding-top: 10px;
}

#entry_align{
	text-align:right;
}

textarea#editor {
  width: 600px;
}

.align_right {
	float:right;
}

#sign_in_fields{
	margin-top:8px;
	margin-left:4px;
	margin-right:4px;
}

#sign_in_field_set{
	padding:10px;
}